
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start">
						<div class="header_content_inner d-flex flex-row align-items-end justify-content-start">
							<div class="logo"> <tr> <a href="#"><h1>LOST LOCH</h1> <h3 style="color: red;">SPIRITS</h3></a></tr></div>
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li class="active"><a href="#">Shop</a></li>
									<li><a href="#">About us</a></li>
									<li><a href="#">Experiences</a></li>
									<!-- <li><a href="news.html">Contract Distilleries</a></li> -->
									<li><a href="#">Products</a></li>
									<li><a href="#">Stockists</a></li>
									<li><a href="#">Blog</a></li>
									
								</ul>
							</nav>
							<!-- <div class="header_phone ml-auto">Call us: 00-56 445 678 33</div> -->

							<!-- Hamburger -->

							<div class="hamburger ml-auto">
								<i class="fa fa-bars" ></i>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="header_social d-flex flex-row align-items-center justify-content-start">
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="#"><i class="fa fa-pinterest" ></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" ></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" ></i></a></li>
				<li><a href="#"><i class="fa fa-dribbble" ></i></a></li>
				<li><a href="#"><i class="fa fa-behance" ></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin" ></i></a></li>
			</ul>
		</div> -->
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="menu_header d-flex flex-row align-items-center justify-content-start">
			<div class="menu_logo"><a href="#">LOST LOCH</a></div>
			<div class="menu_close_container ml-auto"><div class="menu_close"><div></div><div></div></div></div>
		</div>
		<div class="menu_content">
			<ul>
				<li><a href="#">Shop</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Experiences</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Stockists</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</div>
		<!-- <div class="menu_social">
			<div class="menu_phone ml-auto">Call us: 00-56 445 678 33</div>
			<ul class="d-flex flex-row align-items-start justify-content-start">
				<li><a href="#"><i class="fa fa-pinterest" ></i></a></li>
				<li><a href="#"><i class="fa fa-facebook" ></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" ></i></a></li>
				<li><a href="#"><i class="fa fa-behance" ></i></a></li>
			</ul>
		</div> -->
		
	</div>



	<!-- Home -->

	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				
				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(../../assets/images/bn.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<!-- <div class="home_title"><h2 style="color:lawngreen;">LOSTLOUCH SPIRITS</h2></div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(images/home_slider.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>Let us take you away</h2></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slide -->
				<div class="owl-item">
					<div class="background_image" style="background-image:url(images/home_slider.jpg)"></div>
					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_title"><h2>Let us take you away</h2></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- <div class="home_page_nav">
				<ul class="d-flex flex-column align-items-end justify-content-end">
					<li><a href="#" data-scroll-to="#destinations">Offers<span>01</span></a></li>
					<li><a href="#" data-scroll-to="#testimonials">Testimonials<span>02</span></a></li>
					<li><a href="#" data-scroll-to="#news">Latest<span>03</span></a></li>
				</ul>
			</div> -->
		</div>
	</div>
