<!-- Footer -->

<footer class="footer">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../../assets/images/footerbg.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter">
                    <div class="newsletter_title_container text-center">
                        <div class="newsletter_title">Subscribe to our mailing list to keep up to date for the latest news and events.</div>
                       
                    </div>
                    <div class="newsletter_form_container">
                        <form action="#" class="newsletter_form d-flex flex-md-row flex-column align-items-start justify-content-between" id="newsletter_form">
                            <div class="d-flex flex-md-row flex-column align-items-start justify-content-between">
                                <div><input type="text" class="newsletter_input newsletter_input_name" id="newsletter_input_name" placeholder="Name" required="required"><div class="input_border"></div></div>
                                <div><input type="email" class="newsletter_input newsletter_input_email" id="newsletter_input_email" placeholder="Your e-mail" required="required"><div class="input_border"></div></div>
                            </div>
                            <div><button class="newsletter_button">subscribe</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_contact_row">
            <div class="col-xl-12 offset-xl-1">
                <div class="row" style="align-items: center;">
                    <img src="../../assets/images/logom.jpg" class="imp-responsive" style="width: 230px; height: 100px; margin-top: 30px;" alt="">

                    <!-- Footer Contact Item -->
                    <div class="col-xl-3 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_list">
                                <ul style="text-align: justify;">
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Stockists</a></li>
                                    <li><a href="">Contact Us</a></li>
                                    <li><a href="">Privacy Policy</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-3 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_list" style="text-align: justify;">
                                <ul style="max-width:190px " >
                                    <li><a href="">Haroosh</a></li>
                                    <li><a href="">eeNoo Gin</a></li>
                                    <li><a href="">Murmichan</a></li>
                                    <li><a href="">Singular</a></li>
                                    <li><a href="">Lost Loch Shop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Contact Item -->
                    <div class="col-xl-3 footer_contact_col">
                        <div class="footer_contact_item d-flex flex-column align-items-center justify-content-start text-center">
                            <div class="footer_contact_list" style="text-align: justify;">
                                <ul>
                                    <li>Lost Loch Spirits Ltd.</li>
                                    <li>Unit 7, Deeside Activity Park,</li>
                                    <li>Dess, Aboyne AB34 5BD</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-10 footer_contact_col footer">
                    
                                    <ul class="social-icon">
                                         <li><a href="#" class="fa fa-facebook"></a></li>
                                         <li><a href="#" class="fa fa-twitter"></a></li>
                                         <li><a href="#" class="fa fa-google-plus"></a></li>
                                         <li><a href="#" class="fa fa-linkedin"></a></li>
                                    </ul>

                        
                    </div>

                    

                </div>
            </div>
        </div>
    </div>
    
    <div class="col text-center">
        
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  by 
 </div>
</footer>

